@model IEnumerable<APIConsume.Models.Cases>

@{ Layout = "_Layout"; ViewBag.Title = "All Reservations";}

<h2>Casos no Brasil</h2>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>País</th><th>Casos Confirmados</th><th>Mortes</th><th>Recuperados</th><th>Doentes</th><th>Data de atualização</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Country</td>
                <td>@r.Confirmed</td>
                <td>@r.Deaths</td>
                <td>@r.Recovered</td>            
                <td>@r.Active</td>            
                <td>@r.Date</td>            
            </tr>
        }
    </tbody>
</table>