    
@model IEnumerable<APIConsume.Models.Cases>

@{ Layout = "_Layout"; ViewBag.Title = "Rastreador";}

<style>
    .confRet{
        background-color: #370706;
    }

     .obiRet{
        background-color: #ff0000;
    }

    .doeRet{
        background-color: #e9e337;
    }

    .curRet{
        background-color: #389742;
    }

    .morRet{
        background-color: #000000;
    }
    
</style>
@{ string date =  @Model.ElementAt(Model.Count()-1).Date;}
@{ string dateParse = DateTime.Parse(date).ToString("dd-MM-yyyy AS HH:mm:ss");}

@{ float mortes  = @Model.ElementAt(Model.Count()-1).Deaths;}
@{ float confirmados  = @Model.ElementAt(Model.Count()-1).Confirmed;}
@{ float percentual  = (mortes/confirmados) * 100;}
<section class="">
    <header class="d-flex justify-content-center">
        <div class="d-flex justify-content-start">
<img src="https://i.imgur.com/ekxmppl.png" alt="Coronavirus" class="doeRet rounded-pill" style="width: 11.25em; height: 11.25em; padding: 1,25em; position: absolute;" />
            <div class="bg-white rounded-pill" style="width: 33.375em; height: 6.5625em; text-align: center; margin-left: 6.25em; margin-top: 2.1875em;">
                <h1 class="font-weight-bolder text-primary" style="padding: 0.125em; margin-left: 1.8em; ">CORONAVÍRUS NO BRASIL</h1>
            </div>
        </div>
    </header>

   


    <div style="margin: 6.25em 17.625em 15.625em 17.625em">
                <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left:  2.125em;">CONFIRMADOS</h2>
                <div class="confRet ml-auto p-2 bd-highlight rounded-pill" style="width: 13em; text-align: center;">
                    <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@Model.ElementAt(Model.Count()-1).Confirmed</h4>
                </div>
            </div>

            <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 3.125em">ÓBITOS</h2>
                <div class="obiRet ml-auto p-2 bd-highlight rounded-pill" style=" width: 13em; text-align: center;">
                    <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@Model.ElementAt(Model.Count()-1).Deaths</h4>
                </div>
            </div>

            <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 3.125em">DOENTES</h2>
                <div class="doeRet ml-auto p-2 bd-highlight rounded-pill" style="width: 13em; text-align: center;">
                    <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@Model.ElementAt(Model.Count()-1).Active</h4>
                </div>
            </div>

            <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 3.125em">CURADOS</h2>
                <div class="curRet ml-auto p-2 bd-highlight rounded-pill" style="width: 13em; text-align: center;">
                    <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@Model.ElementAt(Model.Count()-1).Recovered</h4>
                </div>
            </div>

            <div class="bg-light d-flex bd-highlight mb-3 rounded-pill">
                <h2 class="font-weight-bolder text-primary align-self-center" style="margin-left: 3.125em">LETALIDADE</h2>
                <div class="morRet ml-auto p-2 bd-highlight rounded-pill" style="width: 13em; text-align: center;">
                    <h4 class="font-weight-bolder ml-auto p-2 bd-highlight align-self-center text-white" style="font-size: 24pt">@percentual.ToString("N2")%</h4>
                </div>
            </div>
            <p class="font-weight-bolder text-white" style="text-align: center;">Atualizado em: @dateParse</p>
    </div>
</section>